    <div class="row">
      	<div class="large-12 columns">
        	<h3>&nbsp;</h3>
      	</div>
    </div>
    
    <div class="row">
      	<div class="large-12 columns">
	      	<div class="">
				<h3>This tool will help you to plan your games nights!</h3>
		        <p>You always try to plan board games nights, but something always block? Someone always forgot to bring his game? Or it's too hard to select the food?</p>
		        <br />
		        <div class="row">
		        	<div class="large-4 medium-4 columns">
		    			<h4 class="subheader">Schedule your nights</h4><br /><p>Everything you need to know about using the framework.</p>
		    		</div>
		        	<div class="large-4 medium-4 columns">
		        		<h4 class="subheader">List your games</h4><br /><p>Latest code, issue reports, feature requests and more.</p>
		        	</div>
		        	<div class="large-4 medium-4 columns">
		        		<h4 class="subheader">Manage recurent night</h4><br /><p>Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</p>
		        	</div>        
				</div>
				<br />
				<p>If you're intersted, please subscribe to the newsletter:</p>
				<div class="row">
				    <div class="large-12 columns">
				      <div class="row collapse">
				      <form data-abide>
				        <div class="small-10 columns">
				        	<div class="email-field">
								<input type="email" placeholder="Email" required>
							    <small class="error">An email address is required.</small>
							</div>
				        </div>
				        <div class="small-2 columns">
				        	<button class="button black postfix" type="submit">GO</button>
				        </div>
				      </div>
				      </form>
    				</div>
 				</div>
	      	</div>
      	</div>
    </div>